In [2]:
%load_ext autoreload
%autoreload 2

In [12]:
from src import (
    config,
    data,
    utils)

import src.config

In [4]:
FILENAME = '5_SignalP_5.0_Training_set.fasta'
ROOT = utils.get_project_root_path()
VERBOSE = config.VERBOSE

In [5]:
# data.download_file(
#     url=config.urls[FILENAME],
#     name=FILENAME,
#     path=ROOT + '/data/raw/')

In [6]:
df_data = data.parse_file(ROOT + '/data/raw/' + FILENAME)
if src.config.VERBOSE:
    print(df_data.head())

In [11]:
# df_data.to_parquet(ROOT + '/data/processed/5.0_train_full_unprocessed.parquet.gzip', compression='gzip')

In [10]:
# def df_to_fasta(df, fasta_file):
#     with open(fasta_file, 'w') as file:
#         for index, row in df.iterrows():
#             header = f">{row['Uniprot_AC']}|{row['Kingdom']}|{row['Type']}|{row['Partition_No']}"
#             sequence = row['Sequence']
#             label = row['Label']
#             file.write(f"{header}\n{sequence}\n")
#             # file.write(f"{header}\n{sequence}\n{label}\n")

In [12]:
# df_data[df_data.Partition_No == '4'].shape

(4147, 6)

In [13]:
# df_to_fasta(df_data[df_data.Partition_No == '4'], '../data/processed/split_4.fasta')

In [6]:
if VERBOSE:
    display(df_data.head())

In [8]:
df_data = data.process(df_data)

In [9]:
# if VERBOSE:
display(df_data.head())

,Uniprot_AC,Kingdom,Type,Partition_No,Sequence,Label,Split
0,Q8TF40,EUKARYA,NO_SP,0,M A P T L F Q K L F S K R T G L G A P G R D A ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
1,Q1ENB6,EUKARYA,NO_SP,1,M D F T S L E T T T F E E V V I A L G S N V G ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
2,P36001,EUKARYA,NO_SP,1,M D D I S G R Q T L P R I N R L L E H V G N P ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
3,P55317,EUKARYA,NO_SP,4,M L G T V K M E G H E T S D W N S Y Y A D T Q ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4
4,P35583,EUKARYA,NO_SP,4,M L G A V K M E G H E P S D W S S Y Y A E P E ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4

In [10]:
df_data.to_parquet(ROOT + '/data/processed/5.0_train_full.parquet.gzip', compression='gzip')

In [10]:
df_data.head()

,Sequence,Label,Split
0,M A P T L F Q K L F S K R T G L G A P G R D A ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
1,M D F T S L E T T T F E E V V I A L G S N V G ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
2,M D D I S G R Q T L P R I N R L L E H V G N P ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
3,M L G T V K M E G H E T S D W N S Y Y A D T Q ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4
4,M L G A V K M E G H E P S D W S S Y Y A E P E ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4